<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">Client Seed Summary</div>
    </div>
    <div id="client-summary-container" class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Sr</th>
                        <th>Envelope</th>
			<th>Location</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div id="loading-container">loading</div>
</div>