<div class="login">
    <div class="logo">
        <img src="img/login-logo.jpg" alt="">
    </div>

    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <h3 style="color:black;" class="form-title">Login</h3>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input id="username" type="text" name="username" placeholder="Username" value="" autocomplete="off" class="form-control placeholder-no-fix">
            </div>
        </div>
        <div class="form-group">   
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input id="password" type="password" name="password" placeholder="Password" autocomplete="off" class="form-control placeholder-no-fix">
            </div>
        </div>
        <div class="form-actions">
            <button style="background-color:#D13A7A; color:white" class="btn pull-right" id="login" type="button">
                Login <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>
    </div>
    <div class="copyright"> 2016 &copy; Falconide Delivery Monitor. </div>
</div>