<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Mail Summary
	</div>
    </div>
    <div id="summary-container" class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
			<th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
			<th>Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>